<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fonts/Hacked/HACKED.ttf">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/"><img src="images/logo.png" alt="The Coding Cave"></a>
        <nav>
            <a href="/">Home</a>
            <a>About</a>
            <a href="/members"> Members</a>
            <a href="/projects"> project</a>
        </nav>
    </header>