<%- include("./partials/header"); %>
    
    <div class="notHeader">

        <div class="middleBar">
            <h2 class="LogoFont">Projects</h2>
            <br>
            <div class="card">
                <div class="preview">
                    <img src="images/green.png" alt="Image of green tree" class="imagePreview">
                    <div>
                        <h1>Deca Fractal Tree</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis interdum ante
                            eget
                            venenatis. Fusce vitae ullamcorper elit, eget congue erat. Ut sit amet ex mi. Cras efficitur
                            ex
                            sit
                            amet arcu tristique egestas. Donec nec sapien venenatis, elementum purus vitae, finibus
                            nisi.
                            Proin
                            id risus semper, dignissim arcu vel, tincidunt dolor. Donec at purus pellentesque, facilisis
                            diam
                            vitae, rhoncus ex.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="preview">
                    <img src="images/pink.png" alt="Image of green tree" class="imagePreview">
                    <div>
                        <h1>Pink Fractal Tree</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis interdum ante
                            eget
                            venenatis. Fusce vitae ullamcorper elit, eget congue erat. Ut sit amet ex mi. Cras efficitur
                            ex
                            sit
                            amet arcu tristique egestas. Donec nec sapien venenatis, elementum purus vitae, finibus
                            nisi.
                            Proin
                            id risus semper, dignissim arcu vel, tincidunt dolor. Donec at purus pellentesque, facilisis
                            diam
                            vitae, rhoncus ex.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="preview">
                    <img src="images/wheat.png" alt="Image of yellow flower" class="imagePreview">
                    <div>
                        <h1>Yellow Fractal Flower</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis interdum ante
                            eget
                            venenatis. Fusce vitae ullamcorper elit, eget congue erat. Ut sit amet ex mi. Cras efficitur
                            ex
                            sit
                            amet arcu tristique egestas. Donec nec sapien venenatis, elementum purus vitae, finibus
                            nisi.
                            Proin
                            id risus semper, dignissim arcu vel, tincidunt dolor. Donec at purus pellentesque, facilisis
                            diam
                            vitae, rhoncus ex.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="preview">
                    <img src="images/purpleflower.png" alt="Image of purple tree" class="imagePreview">
                    <div>
                        <h1>Purple Fractal Flower</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis interdum ante
                            eget
                            venenatis. Fusce vitae ullamcorper elit, eget congue erat. Ut sit amet ex mi. Cras efficitur
                            ex
                            sit
                            amet arcu tristique egestas. Donec nec sapien venenatis, elementum purus vitae, finibus
                            nisi.
                            Proin
                            id risus semper, dignissim arcu vel, tincidunt dolor. Donec at purus pellentesque, facilisis
                            diam
                            vitae, rhoncus ex.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("./partials/footer"); %>